@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}


.wrapper{
  width: 100vw;
  height: 100vh;
  background-color: rgb(25, 33, 33);
  color: #fff;
}


.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2em;
}


.brand span {
  color: darkorange;
}


.brand {
  margin-top: -7px;
}


.menu {
  display: flex;
  width: 50%;
  justify-content: space-around;
}


.menu li {
  list-style: none;
}


.menu a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
}


.menu .active {
    color: darkorange;
}


.menu a:hover {
  background-color: darkorange;
  color: rgb(25, 33, 33);
  transition: ease-in .3s;
}


.main {
  margin: 0 auto;
  width: 80vw;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
}


h1 {
  font-size: 3em;
}


span {
  color: darkorange;
}


.download-cv,
.project-details-button {
  padding: 10px 20px;
  background-color: darkorange;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
  -webkit-box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
  -moz-box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
  box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);

}


.download-cv:hover {
  background-color: #fff;
  box-shadow: none;

}


.main img {
  width: 350px;
  border: 7px solid darkorange;
  height: 409px;
}


.about {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 100vw;
  align-items: center;
}


.about img {
  width: 100%;
  grid-column: 1/5;
}


.about-info {
  grid-column: 5/10;
  padding: 3em;
}


.about-info h2{
  font-size: 2em;
  color: rgb(25, 33, 33);
}


.divider {
  height: 4px;
  width: 60px;
  background-color: darkorange;
  margin-top: 10px;
  margin-bottom: 2em;
}


.about p {
  margin-bottom: 1em;
}


.portfolio {
  width: 100vw;
  background-color: rgb(25, 33, 33);
  color: #fff;

}


.portfolio-headings {
  width: 100vw;
  padding: 5em;
}


.portfolio-headings h2 {
  font-size: 2.5em;
}


.portfolio .container{
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}


.card {
  width: 300px;
  color: #fff;
  height: 350px;
  background-color: rgb(73, 98, 89);
  margin: 1em;
}


.card__img {
  width: 100%;
  height: 150px;
  background-image: url(../img/2-original.png);
  background-size: cover;
}


.card__title {
  padding: 20px;
}


.card__projects-links {
  display: flex;
  justify-content: space-evenly;
}


.card__projects-links a {
  color: #fff;
  text-decoration: none;
}


.card__projects-links i {
  font-size: 1.5em;
}


.card .project-details {
  margin: 0 auto;
  margin: 1em;
  width: 70%;

}


.card .project-details a {
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
}


.proyect-details-content {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 1em;
}



.button-content {
  display: flex;
  justify-content: center;
  margin: 1em;
}



.project-details-button a {
  text-decoration: none;
  color: rgb(25, 33, 33);
}



.contact-section {
  margin: 3.5em;
}


.contact-headings h2 {
  font-size: 3em;
}



.container-contact {
  padding: 3em;
  margin: 0 auto;
}


.container-contact img {
  width: 750px;
  height: 700px;
  bottom: 0px;
}


.form {
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin-top: 2em;
}



.form input {
  padding: 10px 20px;
  margin-bottom: 1em;
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
}




.form textarea {
  height: 150px;
  background: none;
  color: #fff;
  padding: 1.5em;
  border: 1px solid #fff;
}


.btn-submit {
  padding: 10px 20px;
  margin: 1em;
  border: none;
  text-transform: uppercase;
  background-color: darkorange;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
}


.btn-submit:hover {
  background-color: #fff;
  box-shadow: none;
}



.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 200px;
  background-color: darkorange;
}



.footer-content h2 {
  font-size: 3em;
}

.footer-content h5,
.sotial-network i{
  font-size: 1.5em;
}



.sotial-network {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  margin-top: 1em;
}
